//Clases predefinidas y estilo principal
$color_fondo: #898989;
$color_cuerpo: white;
$color_titulo: #0b1d29;
$color_separador: #212121;
$color_titulo_seccion: #29170b;
$color_marca: #0B2926;
$color_linea_marca: #260B29;

@font-face {
    font-family: 'EB Garamond', serif;
    src: url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond";
    font-size: 15px;
}

html {
    max-width: 800px;
    width: auto;
    // height: 100%;
    
    margin: 0 auto;
    
    background-color: $color_fondo;
    
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    &,
    body {
        min-width: 550px;
        min-height: 100vh;
        // min-height: 780px;

        //A4
        // width: 21cm;
        // height: 29.7cm;
        // margin: 30mm 45mm 30mm 45mm; 
    }

    //Color para las barras laterales en firefox y chrome

    scrollbar-width: thin;
    scrollbar-color: #ffffff $color_titulo_seccion;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $color_titulo_seccion;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ffffff;
        border-radius: 2px;

        &:hover,
        &:active {
            background-color: #dfdfdf;
        }
    }
}

    // Anchura recomendada 800px
    // Altura recomendada 750px
    body {
        height: auto;
        background-color: $color_cuerpo;
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: 5px;
    }

    //Clase especifica para aplicar a un elemento que se situara a la izquierda
    //y que contendra la información principal
    .lateral {
        background-color: inherit;
        height: 100%;
        padding: 15px;
        align-self: center;
        margin-right: 5px;
        min-width: 250px;

        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-template-rows: min-content 2%;
        gap: 1%;

        overflow: hidden;

        background-color: $color_titulo;
        color: white;

        .cabecera {
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            width: 100%;
            align-self: start; 
            gap: 25px;
    
            .titulo-cont {
                width: 75%;
                text-align: center;
                padding: 5px;
    
                & .titulo {
                    font-size: 1.5em;
                    margin-bottom: 5px;
                }
    
                & .subtitulo {
                    font-size: 1em;
                }
            }
    
            .img-1 {
                border-radius: 150px;
                width: 130px;
                height: 130px;
                margin-top: 5px;
                object-fit: cover;
                object-position: top;
            }
        }

        .descripcion{
            font-size: 17px;
            text-align: justify;

        }
        
        //El & se situa unicamente con la intencion de ser mas legible
        & hr {
            width: 50%;
            margin: 15px auto;
        }

        & .contacto {
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;

            & a {
                padding: 10px;
                background-color: gray;
                color: #fff;
                border-radius: 60%;
            }

            & a:hover {
                background-color: rgb(75, 75, 75);
            }
        }

        & section {
            width: 90%;
            margin-top: 5px;
            align-self: center;
            // border: #000 solid 2px;

            &:first-of-type {
                margin: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .titulo-seccion {
                margin-bottom: 20px;
                border-bottom: 1px solid white;
                padding: 10px 0;

                & span {
                    font-size: large;
                    padding: 5px;
                }
            }
        }
    }

    .principal {
        background-color: inherit;
        min-width: 210px;
        padding: 15px;
        display: grid;
        grid-auto-flow: row;
        align-content: center;
        gap: 5px;
    }

    .especial-1 {
        & span.destacado {
            font-weight: bold;
            font-size: 1.25em;
            text-transform: initial;
        }

        text-align: center;
        text-transform: capitalize;
        font-variant: small-caps;
    }

    ol.lista-1,
    ul.lista-1 {
        list-style: none;

        li {
            margin-bottom: 8px;

            & a,
            & .destacado {
                font-weight: bold;
                font-size: 1.05em;
            }

            & a[href] {
                color: inherit;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
        // & ol.lista-2,
        // & ul.lista-2 {

        // }
    }

    /* Clase para la lista con puntos conectados */
    ol.lista-2,
    ul.lista-2 {
        
        &:not(:empty){
            list-style: none;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-left: 30px;
        }
        //El punto es un div, con un svg dentro, establece las propiedades de este
        & .marca_elemento {
            position: relative;
            left: 5px;
            width: 10px;
            margin-left: -22px;
            // margin: auto 0px auto -22px;
            fill: $color_marca;
            float: left;
            z-index: 9;
        }

        //Establece las propiedades de cada elemento de la lista
        & li {
            padding: 8px;
            position: relative;
            height: auto;
            margin-bottom: 0px;
            
            & a,
            & .destacado {
                font-weight: bold;
                font-size: 1.05em;
            }

            & a[href] {
                color: inherit;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        //Propiedades de la linea que conecta los puntos
        & li:not(:last-child)::before {
            background-color: $color_linea_marca;
            width: 2px;
            content: '';
            position: absolute;
            top: 25px;
            left: -5px;
            height: calc(100% - 15px);
            border-radius: 50px;
        }
    }

    ol.lista-3,
    ul.lista-3 {
        list-style: none;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-left: 5px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;

        //El punto es un div, con un svg dentro, establece las propiedades de este
        & .marca_elemento {
            position: relative;
            // left: 5px;
            width: 10px;
            margin-right: 5px;
            // margin-left: -22px;
            // margin: auto 0px auto -22px;
            fill: $color_marca;
            float: left;
            // z-index: 9;
        }

        li{
            & a,
            & .destacado {
                font-weight: bold;
                font-size: 1.05em;
            }

            & a[href] {
                color: inherit;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .seccion {
        .titulo-seccion {
            margin-bottom: 20px;
            border-bottom: 1px solid $color_separador;
            padding: 20px 0;

            & span {
                color: #fff;
                font-size: large;
                padding: 5px;
                background-color: $color_titulo_seccion;
            }
        }
    }